.container {
  width: 100%;
  height: 50%;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
  padding: 35px;
}

.label {
  align-self: start;
  margin: 5px 0px 3px 0;
}

.input {
  width: 260px;
  height: 20px;
  border-radius: 6px;
  border-width: 0.5px;
}

.button {
  margin-top: 15px;
  width: 260px;
  height: 25px;
  border-radius: 6px;
  border-width: 0.5px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.7;
}