.navigation {
  width: 100%;
  padding: 0;
  margin: 0;
}

.navigate-list{
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}